<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= username %>'s Profile - Event Management System</title>
  <%- include partials/html-head %>
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body class="booked">
  <%- include partials/navbar %>

    <!-- Begin page content -->
    <main class="container">
      <div class="card-flex mt-3">
        <header class="title mb-0">Account Details</header>
        <a href="/user/<%= username %>/update" class="btn btn-sm btn-secondary ml-3">Edit</a>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 profile">
          <div class="my-2">Username:
            <%= username %>
          </div>
          <div class="my-2">Email:
            <%= email %>
          </div>
          <div class="my-2">
            Account Type:
            <%= type.slice(6)[0].toUpperCase() + type.slice(7) %>
          </div>

          <div id="wrapper">
            <button id="location-button" onclick="showLocation()">Get Your Location</button>
            <div id="map"></div>
          </div>
          <script>
              function showLocation(){
                console.log("OK");
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position){
                      console.log(position);

                      let map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 16,
                          center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                          scrollwheel: true,
                          mapTypeId: google.maps.MapTypeId.ROADMAP
                      });
                      
                      let marker = new google.maps.Marker({
                          position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                          map: map
                      });

                      google.maps.event.addDomListener(window, 'load', initialize);
                    });
                };
              }
              // });
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=APIKEY&callback=initMap" async defer></script>
        </div>
      </div>
    </main>

    <!-- Sticky Footer -->
    <%- include partials/footer %>

      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <%- include partials/html-scripts %>
</body>

</html>